html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  
  background-color: #d5ecff;
}

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Theme colors */
  --primary: var(--darkgreen);
  --secondary: var(--linen);
  --tertiary: var(--blue-green);
  --highlight: var(--bronze);
  
  --darkgreen: #317481;
  --linen: #ffe6d3;
  --clay: #744253;
  --bronze: #ecbc63;
  --blue-green: #2fa2aa;
  /* Basic colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --lightgray: #e4e4e4;
  --gray: #9b9b9b;
  --darkgray: #5c5c5c;
}

::selection {
  color: white;
  background: var(--highlight);  /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: var(--highlight);  /* Gecko Browsers */
}

/* buttons */
.btn-primary {
  color: var(--white);
  border-color: var(--tertiary);
  background-color: var(--tertiary);
}
.btn-primary:hover {
  color: var(--secondary) !important;
  border-color: var(--primary);
  background-color: var(--primary);
}
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--secondary) !important;
  border-color: var(--primary);
  background-color: var(--primary);
}

.btn-outline-primary {
  color: var(--black);
  border-color: var(--tertiary);
}
.btn-outline-primary:hover {
  color: var(--secondary);
  border-color: var(--primary);
  background-color: var(--primary);
}
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: var(--secondary);
  border-color: var(--primary);
  background-color: var(--primary);
}

.btn-disabled {
  color: var(--lightgray);
  border-color: #61b5bb;
}