#post {
    border: solid #3a9daa;
    border-radius: 50px;
    min-height: 175px;
    margin: 10px 0 20px 0;
    padding: 20px;
    text-align: left;
    background-color: #92d3db;
    font-size: 1.25em;
    color: black;
    
}

#post-title {
    font-weight: 800;
    font-size: 2em;
}

#post-date {
    float: right;
    font-style: italic;
}

#likes {
    margin-top: 2em;
}

#like-counter {
    font-size: 2em;
    color:rgb(87, 87, 87);
    font-weight: 800;
    top:50%;
}

#upvote-button {
    border-radius: 100px;
    font-size: 2em;
}