#course-page {
    background-color: #d5ecff;
    min-height: 100vh;
    height: 100%;
}

#course-header {
    align-items: flex-end;
}

#course-header>div {
    margin-bottom: 2px;
}

#course-title {
    font-size: 5em;
}

#course-subtitle {
    font-style: italic;
}

#join-button { 
    font-size: 1.75em;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    float:left;
}

#post-list {
    margin: 0 auto;
    margin-top: 2em;
}

#post-editor {
    padding: 20px;
    margin-top: 20px;
    background-color:aquamarine;
    border: solid yellow;
}

#post-editor > * {
    margin-bottom: 5px;
}

#edit-desc {
    min-height: 7em;
    max-height: 10em;
}


@media (min-width: 0px) and (max-width: 1200px)  {
    #join-button {
        float:inherit;
    }
}