#course-page {
    background-color: #d5ecff;
    min-height: 100vh;
    height: 100%;
}

#course-header {
    position: relative;
    padding: 0 2em 0 2em;
    z-index: 2;
    align-items: flex-end;
    background-color: rgb(226, 250, 141);
    padding-bottom: 20px;
    box-shadow: 0 10px 10px -10px black;
}

#course-header>div {
    margin-bottom: 2px;
}

.header-buttons {
    font-weight: 800;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    float:left;
}

#course-title {
    font-size: 5em;
    font-weight: 700;
}

#course-subtitle {
    font-style: italic;
    font-size: 1.25em;
}

#post-list {
    z-index: 1;
    margin: 0em auto;
    padding: 2em 2em 0em 2em;
    background-color:#b8cee0;
}

#post-editor {
    padding: 20px;
    margin-top: 20px;
    background-color:var(--linen);
    /* border: solid yellow; */
}

#post-editor > * {
    margin-bottom: 5px;
}

#edit-desc {
    min-height: 7em;
    max-height: 10em;
}

.small-label {
    text-align: left;
}


@media (min-width: 0px) and (max-width: 1200px)  {
    #join-button {
        float:inherit;
    }
}