#course-list {
    background-color: #d5ecff;
    height: 100vh;
}

#header {
    align-items: flex-end;
    text-align: left;
}

#header>div {
    padding: 5vh 0 0 5vw ;
}

#welcome-msg {
    font-size: 2em;
}

#subscriptions {
    width: 80vw;
    margin: 3em auto;
    padding: 20px;
    border: solid black;
}


#search-lectures {
    border: solid cornflowerblue 5px;
    background-color: rgb(196, 227, 255);
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    margin: 2em auto;
}

#search-lectures>div {
    margin-bottom: 20px;
}


#search-lectures>div>input {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
}

#search-header {
    font-weight: 800;
    font-size: 2em;
}

#formSearchSubjectCode {
    padding: 0 0 0 12px !important;
}

@media (min-width: 0px) and (max-width: 600px)  {
    #search-lectures {
        width: 90vw;
    }

    .input-label {
        font-size: 1em;
    }
}