#course-list {
    background-color: #d5ecff;
    min-height: 100vh;
    height: 100%;    
    background-image: url('../../assets/images/BACKGROUND.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#subscriptions {
    width: 80vw;
    margin: 3em auto;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: solid cornflowerblue 1px;
    border-radius: 20px;
    background-color: rgba(196, 227, 255, 0.95);
}

#subscriptions>div {
    padding:0;
}

.cancel-subscription-btn {
    position: absolute;
    right: 1em;
}

#your-lectures {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 800;
    
}

.lecture-subscription { 
    margin: 1em;
}


#search-lectures {
    border: solid cornflowerblue 1px;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
    margin: 3em auto;
    background-color: rgba(196, 227, 255, 0.95);
}

#search-lectures>div {
    margin-bottom: 20px;
}


#search-lectures>div>input {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
}

#search-header {
    font-weight: 800;
    font-size: 2em;
}

#formSearchSubjectCode {
    padding: 0 0 0 12px !important;
    z-index: 1;
}

#searchResult {
    margin: 0 auto;
    width: 75%;
}

#searchResult>img, .lecture-subscription>img {
    height: 12em;
    object-fit: cover;
}

.card-text {
    text-align: left;
}


@media (min-width: 0px) and (max-width: 600px)  {
    #search-lectures {
        width: 90vw;
    }

    .input-label {
        font-size: 1em;
    }
}