#nav-bar {
    background-color: var(--tertiary);
    padding: 10px 0 10px 0;
    
}

#nav-bar>div>a{
    color: white;
    text-decoration: none;
}

#nav-bar>div>a:hover{
    color: white;
    text-shadow: 0 0 10px whitesmoke;
}

#nav-bar>div {
    text-shadow: 0px 1px 3px black ;

    padding: 10px 0 10px 0;
    margin: 0 20px 0 20px;
    font-size: 1.3em;
    
    color: white;
}

